# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
ENV/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# If you use local settings files
local_settings.py

# VSCode or other IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# pyenv
.python-version

# Coverage reports
htmlcov/
.coverage

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/

# celerybeat schedule file
celerybeat-schedule

# pipenv
Pipfile.lock
